[Desktop Entry]
Version=1.0
Type=Application
Name=Squirrel SQL
GenericName=Database Manager
GenericName[de]=Datenbankmanager
Comment=Graphical Java program to manage JDBC databases
Comment[de]=Programm zum Zugriff auf Datenbanken
Terminal=false
StartupNotify=true
Exec=squirrel-sql
Icon=squirrel-sql
Categories=Development;Database;Java;
